/***********************
		HEADING
***********************/
a {
	text-decoration: none;
	font-family: 'Roboto Slab', sans-serif;
}

img {
	max-width: 100%;
}

/***********************
		HEADING
***********************/
header {
  float: left;
  padding: 5px 0 0 5px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #800000;
  font-size: 50px;
}



/***********************
		NAVIGATION
***********************/
nav {
  text-align: right;
  margin: 5px 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
}

nav a, nav a:visited {
  color:#B8B3AD;
}

nav a.selected, nav a:hover {
  color: #800000;
}

#home {
	text-align: left;
}

#MHlogo.selected, #MHlogo:hover {
  color: white;
}


/***********************
		 BODY
***********************/
header, footer {
	background-color: #030615;
	color: #B8B3AD;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background-color: #030615;
}
.map {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
	float: left;
}



/***********************
		FOOTER
***********************/
footer {
  font-size: 1em;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  margin: 5px;
  padding-top: 10px;
  color: #B8B3AD;
  clear: left;
}

footer p {
	color: #B8B3AD;
}

#MHlogo {
  height: 40px;
  width: 200px;
  margin-top: -20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.ol-map {
    height: 400px;
    width: 100%;
}
