#header {
	height: 15%;
	padding: 5px 0 5px 0;
	text-align: right;
}

.unmutelogo {
	height: 100px;
	float: left;
}

a {
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	color: white;
}

p {
	font-family: "Ubuntu", sans-serif;
	color: white;
}

#header-nav {
	margin: 5px 0;
	text-align: right;
}

#header-nav ul {
	margin: 0 10px;
	padding: 0;
	list-style: none;
	margin: 0;
	background-color: #030615;
}

.map {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
	float: left;
}

#header-nav li {
	margin: 0 10px 10px 0;
	display: inline-block;
	text-decoration: none;
}

body {
	background: #607d8b;
}

#map {
	text-align: center;
}

#footer {
	height: 25%;
	width: 100%;
	padding: 5px 0 5px 0;
	padding-top: 10px;
	font-size: 1em;
	text-align: center;
	clear: left;
}

.MHlogo {
	height: 40px;
	width: 200px;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
