<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <!-- tab -->
    <title> Unmute | Michigan Stories</title>
    <link rel="icon" type="image/png" href="pin.png">

    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="styling.css">

    <!-- map -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" type="text/css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" type="text/javascript"></script>
    <script src="/static/js/api.js" type="text/javascript"></script>
    <script src="/static/js/site.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="header">
      <img src="logo.png" class="unmutelogo">

      <div id="header-nav">
        <u1 id="header-nav u1">
          <li class="header-nav li"><a href="/">Home</a></li>
          <li class="header-nav li"><a href="/">About</a></li>
          <li class="header-nav li"><a href="/">Sign In</a></li>
          <li class="header-nav li"><a href="/">Sign Up</a></li>
        </u1>
      </div>
    </div>

    <div id="map">
<!--       <img src="map.jpg"> -->
    </div>

    <div id="footer">
      <p>&copy; 2015</p>
      <a href="http://michiganhackers.org/"><img src="MH Logo Horizontal Orange.png" class="MHlogo"></a>
    </div>
  </body>
</html>